@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1d1919;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgba(29, 25, 25, 0.837) 0%,
    rgba(29, 25, 25, 1) 50%,
    rgba(25, 26, 29, 1) 100%
  );
}